<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <div>HOLA</div>
    <div id="table">
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script>
    (function() {
        // Use a named immediately-invoked function expression.
        function worker() {
            $.ajax('http://127.0.0.1:5000/api/')
                .fail(function(response) {
                    // This part is used if this ajax request fails
                    console.log('fail');
                    console.log(response);
                    worker();
                })
                .done(function(response) {
                    // This part is used if this ajax request success
                    console.log('success');
                    console.log(response);

                    $('#table').html($('#table').html() + JSON.stringify(response) + '<br>');

                    setTimeout(worker, 60000);
                })
                .always(function (response) {

                });
        };

        window.addEventListener('load', function() {
            worker();
        })
    })();
    </script>
</body>

</html>
